<div class="mediaServerSettings">
    <mainMenu>
        <a routerLink="/App">
            <div class="logo">Logo</div>
        </a>
        <div class="menuItems">
            <div class="menuItem" routerLink="/Settings/Sources" routerLinkActive="selected">Libraries</div>
            <div class="menuItem" routerLink="/Settings/Videos" routerLinkActive="selected">Video</div>
            <div class="menuItem" routerLink="/Settings/Audio" routerLinkActive="selected">Audio</div>
            <div class="menuItem" routerLink="/Settings/Images" routerLinkActive="selected">Images</div>
            <div class="menuItem" routerLink="/Settings/FileTypes" routerLinkActive="selected">File Types</div>
        </div>
        <div class="tools">
            &nbsp;
        </div>
    </mainMenu>
    <router-outlet></router-outlet>
</div>
