<div class="mediaServerApp">
    <mainMenu>
        <a routerLink="/App">
            <div class="logo">Logo</div>
        </a>
        <div class="menuItems">
            <div class="menuItem" routerLink="/App/Movies" routerLinkActive="selected">Movies</div>
            <div class="menuItem" routerLink="/App/Series" routerLinkActive="selected">Series</div>
            <!--<div class="menuItem" routerLink="/App/Music" routerLinkActive="selected">Music</div>
            <div class="menuItem" routerLink="/App/Pictures" routerLinkActive="selected">Pictures</div>-->
        </div>
        <div class="tools">
            <!--<google-cast-launcher></google-cast-launcher>-->
            <img class="tool" src="/MediaServer/assets/CastButton.svg" (click)="ShowCastDevices()" />
            <icon class="tool" name="Magnifying Glass" routerLink="/App/Search" routerLinkActive="selected"></icon>
            <a routerLink="/Settings">
                <icon class="tool" name="Gear"></icon>
            </a>
        </div>
    </mainMenu>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div>


<dialog #castDevicesDialog>
    <div class="title">
        Cast Device(s)
    </div>
    <div class="content">
        <ng-container *ngIf="Receivers != null && Receivers.length > 0">
            <div *ngFor="let receiver of Receivers" class="receiver">
                <remotePlayer [receiver]="receiver"></remotePlayer>
            </div>
        </ng-container>
        <div *ngIf="Receivers == null || Receivers.length == 0">
            <div class="noReceiversd">No receivers found.</div>
        </div>
    </div>
    <div class="buttons">
        <button (click)="CloseCastDevices()">Close</button>
    </div>
</dialog>