################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
/obj
/bin
*.tt
*.t4
**/obj
**/bin
**/node_modules
**/.vscode
**/.angular
