:host {
    width: 100%;
    flex: 1 1 auto;
    height: 0;
}

.movieVideoMediaItemLists {
    .movieVideoMediaItem {
        padding: 5px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        &:hover {
            background-color: var(--hoverBackgroundColor);
        }

        &.selected {
            background-color: var(--selectedBackgroundColor);
        }

        .toolbarArea {
            align-self: center;

            &:hover {
                color: blue;
            }
        }
    }
}

.folderDialog {

}

#videoOptions {
    background-color: #787878;
    border-color: #939389;
    border-radius: 5px;

    .contextMenu {
        display: flex;
        flex-direction: column;

        button {
            background-color: transparent;
            text-align: left;
            padding-left: 5px;
            border-radius: 0;

            &:hover {
                background-color: blue;
            }
        }
    }
}

dialog {
    .title {
        padding: 10px;
    }
}