<div class="body">
    <div class="toolbar">
        <button (click)="Add()" title="add">
            <div class="imageButton">
                <icon name="Plus"></icon>
                <span>Add</span>
            </div>
        </button>
        <button [disabled]="!CanSave()" (click)="Save()" title="Save">
            <div class="imageButton">
                <icon name="FloppyDisk"></icon>
                <span>Save</span>
            </div>
        </button>
        <button [disabled]="SelectedPrinter?.Id == null" (click)="Remove()" title="Remove">
            <div class="imageButton">
                <icon name="Trashcan"></icon>
                <span>Remove</span>
            </div>
        </button>
    </div>
    <div class="content">
        <div class="printerList">
            <div *ngFor="let printer of Printers" class="printer" (click)="SetSelected(printer)" [ngClass]="{selected: SelectedPrinter == printer}">
                {{printer.Name}}
            </div>
        </div>
        <div class="details">
            <div *ngIf="EditingPrinter == null" class="noPrinter">
                Please selected or add a printer.
            </div>
            <table class="parameters" *ngIf="EditingPrinter != null">
                <tr class="parameter">
                    <td class="title">
                        Name
                    </td>
                    <td>
                        <input type="text" placeholder="Printer Name" [(ngModel)]="EditingPrinter.Name" />
                    </td>
                </tr>
                <tr class="parameter">
                    <td class="title">
                        Web Address
                    </td>
                    <td>
                        <input type="url" placeholder="http://octoprint" [(ngModel)]="EditingPrinter.Address" />
                    </td>
                </tr>
                <tr class="parameter">
                    <td class="title">
                        API Key
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="EditingPrinter.ApiKey" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
