<div class="remotePlayer">
	<ng-container *ngIf="Receiver != null">
		<div class="remotePlayerTitle">
			<label class="receiver">
				{{Receiver.Name}}
			</label>

			<ng-container *ngIf="Receiver.MediaName != null && Receiver.MediaName.length > 0; else noMedia">
				<label>
					<span>Playing:</span>{{Receiver.MediaName}}
				</label>
				<label>
					<span>User Name:</span>{{Receiver.UserName}}
				</label>

				<div class="progressArea">
					<div class="timer">
						{{Played}}
					</div>
					<div class="progress" #progress (mousedown)="Seek($event)">
						<div class="currentPosition" #currentPosition></div>
					</div>
					<div class="timer">
						{{Remaining}}
					</div>
				</div>
			</ng-container>
			<ng-template #noMedia>
				No Media
			</ng-template>
		</div>

		<div class="buttons" *ngIf="Receiver.MediaName != null && Receiver.MediaName.length > 0 && EnableControls">
			<button (click)="PauseOrPlay()" *ngIf="Receiver.Status != 'Playing'">
				<img class="castControls" src="/MediaServer/assets/CastPlayButton.svg" />
			</button>
			<button (click)="PauseOrPlay()" *ngIf="Receiver.Status == 'Playing'">
				<img class="castControls" src="/MediaServer/assets/CastPauseButton.svg" />
			</button>
			<button (click)="Stop()">
				<img class="castControls" src="/MediaServer/assets/CastStopButton.svg" />
			</button>
			<button (click)="Recast()">
				<img class="castControls" src="/MediaServer/assets/CastRecastButton.svg" />
			</button>
		</div>
	</ng-container>
</div>


<dialog #recastDevicesDialog id="recastDevicesDialog">
	<div class="title">
		Recast Device(s)
	</div>
	<div class="content">
		<div *ngIf="Receivers != null && Receivers.length > 0">
			<div *ngFor="let receiver of Receivers" class="receiver" (click)="PlayVideoOnDevice(receiver)">
				<div class="name">{{receiver.Name}}</div>
				<div class="state">{{receiver.Status}}</div>
				<div class="mediaName">{{receiver.MediaName}}</div>
			</div>
		</div>
		<div *ngIf="Receivers == null || Receivers.length == 0">
			<div class="noReceiversd">No devices found.</div>
		</div>
	</div>
	<div class="buttons">
		<button (click)="CloseRecastDevices()">Close</button>
	</div>
</dialog>