:host {
	display: contents;
}

.codeArea {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;

	.textCode {
		font-size: 30px;
		margin-bottom: 10px;
	}
}